# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store

MercuryEngApp/Core/bin/
MercuryEngApp/Core/obj/
MercuryEngApp/MercuryEngApp/bin/
MercuryEngApp/MercuryEngApp/obj/
MercuryEngApp/MercuryEngApp/publish/
MercuryEngApp/MicroControllerWPF/bin/
MercuryEngApp/MicroControllerWPF/obj/
MercuryEngApp/MicroMvvm/bin/
MercuryEngApp/MicroMvvm/obj/
MercuryEngApp/PlottingLib/bin/
MercuryEngApp/PlottingLib/obj/
MercuryEngApp/UsbWPFLibrary/bin/
MercuryEngApp/UsbWPFLibrary/obj/
MercuryEngApp/WPFPdfViewer/bin/
MercuryEngApp/WPFPdfViewer/obj/

# Build results
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
bin/
obj/
[Ll]og/

/.project
MercuryEngApp/MercuryEngApp/obj/Debug/

*.opensdf

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc